.dark-mode-toggle {
    flex-shrink: 0;
    border: none;
    background-color: transparent;
    background: mix($dark, $white, 10%);
    color: $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    .on {
        display: none;
    }
    .off {
        display: block;
    }
    .is-dark &{
        color: $white;
        background: mix($white, $dark, 1%);
    }
    &.dark-active {
        .on {
            display: block;
        }
        .off {
            display: none;
        }
    }
}
.inline-form-s1{
    background: $white;
    box-shadow: 0 0 0 .5rem rgba($white,.2);
    &.is-light{
        .is-dark &{
            background: $white;
            box-shadow: 0 0 0 .5rem rgba($white,.2);
        }
    }
}