$overline-title-size: .875rem;
$overline-title-weight: 700;
$overline-title-color: $base-text;
$overline-title-tracking: 0.1em;

$caption-text-size: .875rem;
$caption-text-weight: 400;

$lead-text-size: .875rem;
$lead-text-weight: 500;

$sub-text-size: .875rem;
$sub-text-weight: 400;

.overline-title{
    font-size: $overline-title-size;
    text-transform: uppercase;
    font-weight: $overline-title-weight;
    letter-spacing: $overline-title-tracking;
    color: $overline-title-color;
}

.caption-text{
    font-size: $caption-text-size;
    font-weight: $caption-text-weight;
}

.lead-text{
    font-size: $lead-text-size;
    font-weight: $lead-text-weight;
}

.sub-text{
    font-size: $sub-text-size;
    font-weight: $sub-text-weight;
}

.smaller{
    font-size: 0.75rem;
}

.small{
    font-size: 0.875rem;
}

.list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    > *{
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
    }
    li{
        display: flex;
        line-height: 1.5rem;
        .text-center &{
            justify-content: center;
        }
        
        @include media-breakpoint-up(sm){
            .text-sm-start &{
                justify-content: flex-start;
            }
            .text-sm-center &{
                justify-content: center;
            }
        }
    
        @include media-breakpoint-up(md){
            .text-md-start &{
                justify-content: flex-start;
            }
            .text-sm-center &{
                justify-content: center;
            }
        }
    
        @include media-breakpoint-up(lg){
            .text-lg-start &{
                justify-content: flex-start;
            }
            .text-sm-center &{
                justify-content: center;
            }
        }
    
        @include media-breakpoint-up(xl){
            .text-xl-start &{
                justify-content: flex-start;
            }
            .text-sm-center &{
                justify-content: center;
            }
        }
    
        @include media-breakpoint-up(xxl){
            .text-xxl-start &{
                justify-content: flex-start;
            }
            .text-sm-center &{
                justify-content: center;
            }
        }
        > .icon{
            line-height: 1.5rem;
            margin-right: .625rem;
            font-size: 1rem;
        }
    }
    &-sap-border li{
        position: relative;
        &:not(:last-child):after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: calc(var(--bs-gutter-y) * -0.5);
            height: 1px;
            background-color: rgba($black,.05);
            .is-dark &{
                background-color: rgba($white,.05);
            }
        }
    }
    &-row{
        flex-direction: row;
    }
    &-2col{
        li{
            width: 100%;
        }
    }
    .text-center &{
        justify-content: center;
    }
    
    @include media-breakpoint-up(sm){
        .text-sm-start &{
            justify-content: flex-start;
        }
        .text-sm-center &{
            justify-content: center;
        }
    }

    @include media-breakpoint-up(md){
        .text-md-start &{
            justify-content: flex-start;
        }
        .text-sm-center &{
            justify-content: center;
        }
    }

    @include media-breakpoint-up(lg){
        .text-lg-start &{
            justify-content: flex-start;
        }
        .text-sm-center &{
            justify-content: center;
        }
    }

    @include media-breakpoint-up(xl){
        .text-xl-start &{
            justify-content: flex-start;
        }
        .text-sm-center &{
            justify-content: center;
        }
    }

    @include media-breakpoint-up(xxl){
        .text-xxl-start &{
            justify-content: flex-start;
        }
        .text-sm-center &{
            justify-content: center;
        }
    }
}

@include media-breakpoint-up(sm){
    .list{
        &-2col{
            li{
                width: 50%;
            }
        }
    }
}

.step-list{
    display: flex;
    flex-direction: column;
    li{
        position: relative;
        display: flex;
        gap:1.5rem;
        isolation: isolate;
        &:not(:last-child){
            padding-bottom: 1.875rem;
            &:before{
                position: absolute;
                content: '';
                height: 100%;
                border-left: 1px dashed $accent-color;
                left: 1rem;
                z-index: 1;
            }
        }
    }
    &-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        font-size: 1.125rem;
        color: $accent-color;
        background: mix($white,$accent-color, 90%);
        z-index: 2;
        .is-dark &{
            background: mix($darker,$accent-color, 80%);
        }
    }
}

$quote-bg: $gray-200;
$quote-shadow: rgba($quote-bg,.5);
$quote-bg-dark: $dark;
$quote-shadow-dark: rgba($quote-bg-dark,.5);

.quote{
    position: relative;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    background: $quote-bg;
    box-shadow: -1.5rem 1.5rem 0 0 $quote-shadow;
    padding: 1.75rem 1.75rem 2.25rem;
    margin-left: 1.5rem;
    margin-bottom: 4.25rem;
    .is-dark &{
        background: $quote-bg-dark;
        box-shadow: -1.5rem 1.5rem 0 0 $quote-shadow-dark;
    }
    &:before,&:after{
        position: absolute;
        content: "";
        top: 100%;
        right: 0;
        border-top: 2.75rem solid $quote-bg;
        border-left: 3.625rem solid transparent;
        .is-dark &{
            border-top-color: $quote-bg-dark;
        }
    }
    &:before{
        top: 100%;
        right: 0;
    }
    &:after{
        top: calc(100% + 1.5rem);
        right: 1.5rem;
        border-top-color: $quote-shadow;
        .is-dark &{
            border-top-color: $quote-shadow-dark;
        }
    }
    .quote-icon{
        position: absolute;
        inset: 0;
        overflow: hidden;
        opacity: .2;
        pointer-events: none;
        &:before{
            position: absolute;
            font-family: "Nioicon";
            content: $ni-quote-right;
            color:$darker;
            font-size: 360px;
            line-height: 1;
            right: -2rem;
            bottom: -2.75rem;
            transform: rotate(-45deg);
        }
    }
    blockquote{
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: bold;
        color: $cyan;
        &:not(:last-child){
            padding-bottom: 1.25rem;
        }
    }
    &-s2{
        position: relative;
        .quote-icon{
            position: absolute;
            inset: 0;
            overflow: hidden;
            opacity: .03;
            pointer-events: none;
            &:before{
                position: absolute;
                font-family: "Nioicon";
                content: $ni-quote-right;
                color:$white;
                font-size: 120px;
                line-height: 1;
                right: -1.5rem;
                bottom: -1.25rem;
                transform: rotate(-45deg);
            }
        }
        blockquote{
            font-size: 1.25rem;
            line-height: 1.875rem;
            margin-bottom: 0;
        }
        .is-dark &{
            color: $white;
        }
    }
}

@include media-breakpoint-up(sm){
    .quote{
        padding: 2.5rem 2.5rem 3.25rem;
        blockquote{
            font-size: 1.875rem;
            line-height: 2.75rem;
            &:not(:last-child){
                padding-bottom: 2.5rem;
            }
        }
    }
}