.logo{
    &-wrap{
        display: flex;
        position: relative;
        height: 100%;
    }
    &-link{
        display: inline-flex;
        max-height: 26px;
    }
    &-img{
        height: 100%;
        &:not(:first-child){
            position: absolute;
            left: 0;
        }
    }
    &-light{
        opacity: 0;
        visibility: hidden;
        .is-dark &{
            opacity: 1;
            visibility: visible;
        }
    }
    &-dark{
        opacity: 1;
        visibility: visible;
        .is-dark &{
            opacity: 0;
            visibility: hidden;
        }
    }
}